@model IEnumerable<Asm_AppdDev.Models.Trainee>
@{
    ViewBag.Title = "CourseTrainees";
}

<h2>Trainees in this Course</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Trainees</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Address</td>  
            </tr>
        }
    </tbody>
</table>